// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

	background-image: url('/mountain.jpeg');
	background-size: cover;
	font-family: 'Raleway', sans-serif;

	.form{
		text-align: center;
		font-size: 16pt;
		color: green;
		width: 300px;
		height: 300px;
		margin: 200px auto;
		padding-top: 25px;
		background-color: rgba(255,255,255,0.6);
		border-radius: 10px;

		article{
			margin-bottom: 20px;

			h1{
				color: blue;
				margin-bottom: 60px;
			}
		}

		button{

		}
	}

	h2{
		text-align: center;
		color: green;
		margin-top: 300px;
		background-color: rgba(255,255,255,0.6);
		border-radius: 6px;
	}
}